/* Shared Styles */
.inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.flex{
  display: flex;
}
body{
  max-width: 1140px;
  margin: 0 auto;
}
.description-color{
  color: rgba(0, 0, 0, 0.5);
}
.title-color{
  font-size: 3.12rem;
  font-weight: bold;
  color: #E95A08;
}
.title-description{
  color: rgba(0, 0, 0, 0.5);

}
.text-center{
  text-align: center;
}
.title-font{
  font-size: 3.12rem;
}


/* Nav Styles */
.nav-item a{
  text-decoration: none;
}
ul li{
  list-style-type: none;
}
.nav-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  gap: 48px;
}
#nav-home{
  font-weight: bold;
  color: #252432;
}


/* Banner Style */
.banner-title{
  font-size: 4rem;
}
.banner{
  margin-top: 120px;
}
.banner-image{
  width: 100%;
}

/* Card-Styles */

.card-title-font{
  font-size: 3.12rem;
}
.card-title{
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}
.card{
  width: 270px;
  margin-bottom: 30px;
}
.card > img{
  width: 100%;
}
.card-button{
  background-color: #E95A08;
  color: white;
  border: none;
  padding: 19px 80px;
}
#lily{
  font-weight: 500;
}
.card-details{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

/* Plant details */
.plant-title-font{
  font-size: 3.12rem;
}

.plant{
  display: flex;
  gap: 60px;
  margin-top: 210px;
}

.plant-text li{
  list-style-type: disc;
}
.plant-shop{
  width: 100%;
}
.plant-image{
  position: relative;
}
.badge{
  position: absolute;
  height: 286px;
  width: 286px;
  top: -100px;
  right: -90px;
  filter: drop-shadow(-4px 10px 4px #979393);
}








/* Responsive part */
@media screen and (max-width:576px) {
 /* Banner responsive styles */
  .nav-none{
  display: none;
 }
 .banner{
  flex-direction: column-reverse;
 }
 .banner-image img{
  width: 100%;
 }
 .banner-text{
  margin:0 16px;
 }
 /* Card Responsive Styles */
 .card-details{
  grid-template-columns: repeat(2, 1fr);
  
 }
.card-none{
  display: none;
 }
.card{
  width: auto;
}
/* Plant Responsive */
.plant{
  flex-direction: column;
}
.badge-none{
  display: none;
}

}

   
   

  
  
  
 
  


  
